.nav{
  position:fixed;
  bottom:30px;
  left:30px;
  right:30px;

  height:60px;
  background:#fff;

  border-radius:30px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);

  display:flex;
  overflow:hidden; /* 라운딩 유지 */
}

/* 3등분 핵심 */
.tab{
  flex:1; /* 자동 3분할 */
  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;
  color:#888;
  font-weight:500;
}

/* 선택 상태 */
.tab.active{
  color:#000;
  font-weight:700;
  background:#f2f3f5; /* 선택된 영역 표시 */
}
